<%= simple_form_for([ choice_point, option ], html: {data:{options_target:"form"}}, remote: true, authenticity_token: true) do |f| %>
  <div class="option-description-container">
    <%= f.input :description,
                label: false,
                placeholder: "Option #{choice_point.options.count + 1}",
                class: "form-field",
                required: true,
                as: :string %>
    <%= f.input :pros,
                label: false,
                placeholder: "Pros",
                class: "form-field",
                as: :text %>
    <%= f.input :cons,
                label: false,
                placeholder: "Cons",
                class: "form-field",
                as: :text %>
  </div>
  <div class="option-btn-container">
    <%= f.button :submit, "Add", class: "btn-outline" %>
    <div class="options-page-submit-choice-point">
      <h3>All done?</h3>
      <div class="btn-solid">
        <%= link_to "Submit", choice_point_path(@choice_point) %>
      </div>
    </div>
  </div>
<% end %>
