<div class="field-container">
  <%= simple_form_for [ @option ] do |f| %>
    <div class="option-description-container">
      <%= f.input :description, placeholder: 'Option 1', label: false, :class => "form-field", required: true %>
      <%= f.input :Pros, placeholder: 'What you like', label:false, :class => "form-field", required: true, as: :text %>
      <%= f.input :Cons, placeholder: 'What you do not like', label:false, :class => "form-field", required: true, as: :text %>
    </div>

    <%= f.submit "Submit ChoicePoint", class: "btn btn-primary" %>
  <% end %>
</div>
