<div class="card-product general-card container-left">
  <div class="card-product-infos" data-controller="favorite">
    <%# <div class="asker"><%= @user_string %>
    <%= link_to choice_point_path(choicepoint) do %>
      <h5>posted by <%= choicepoint.user.name %></h5>
      <h2><%= choicepoint.title %></h2>
      <p><%= truncate(choicepoint.description, :length => 59) %></p>
    <% end %>
    <div class="card-product-save">

        <% if choicepoint.vote_from?(current_user)%>
          <div class="card-voted-container">
            <i class="far fa-check-circle"></i> voted
          </div>
        <% else %>
          <div class="card-voted-container">
            <%= link_to choice_point_path(choicepoint) do %>
              <i class="far fa-circle"></i> vote
            <% end %>
          </div>
        <% end %>

      <div class="card-save-container">
        <% if current_user %>

          <%= link_to toggle_favorite_choice_point_path(choicepoint),
                      remote: true,
                      method: :post,
                      data: {action: "click->favorite#toggle"} do %>

            <i class="<%= (current_user.favorited?(choicepoint) ?
                           "fas cp-card-voted-color" : "far") %>
                      fa-bookmark"
               data-id="<%= choicepoint.id %>"></i>
            <span class="save-target"><%= current_user.favorited?(choicepoint) ? "remove" : "save" %></span>

          <% end %>

        <% end %>
      </div>

    </div>
  </div>
   <div class="calendar-icon">
      <i class="far fa-calendar" style="font-size:100px; position: relative;"></i>
         <h2 style="position: absolute;"> <%=choicepoint.deadline.strftime("%b %d")%></h2>
      </div>
</div>
