<%= link_to choice_point_path(choicepoint) do %>
  <div class="card-product general-card container-left">
    <div class="card-product-infos">
      <%# <div class="asker"><%= @user_string %>
      <h5>posted by <%= choicepoint.user.name %></h5>
      <h2><%= choicepoint.title %></h2>
      <p><%= choicepoint.description %></p>
      <div class="card-product-save container-left">
        <% if choicepoint.vote_from?(current_user)%>
          <i class="far fa-check-circle" class= "cp-card-voted-color"></i> voted
        <% else %>
          <i class="far fa-circle"></i> vote
        <% end %>
        <i class="far fa-bookmark"></i> save
      </div>
    </div>
      <div class="calendar-icon">
      <i class="far fa-calendar" style="font-size:100px; position: relative;"></i>
         <h2 style="position: absolute;"> <%=choicepoint.deadline.strftime("%b %d")%></h2>
      </div>
  </div>
<% end %>
