<%= link_to choice_point_path(choicepoint) do %>
    <div class="card-product">
      <div class="card-product-infos">
        <%# <div class="asker"><%= @user_string %>
        <h2><%= choicepoint.title %></h2>
        <p><%= choicepoint.description %></p>
        <div class="card-product-save">
        <% if choicepoint.vote_from?(current_user)%>
          <i class="far fa-check-circle">
        <% else %>
          <i class="far fa-circle"></i> vote
        <% end %>
        </div>
      </div>
      <img src="https://source.unsplash.com/random/?<%= choicepoint.title %>" />
    </div>
  <% end %>
<i class="far fa-bookmark"></i> save
