<div class="field-container">
  <%= simple_form_for [ @choice_point ] do |f| %>
    <div class="choicepoint-description-container">
      <%= f.input :title, placeholder: 'Choose a name for your choicepoint', label: false, :class => "form-field", required: true %>
      <%= f.input :description, placeholder: 'Describe your choicepoint', label:false, :class => "form-field", required: true, as: :text %>
      <%= f.input :deadline, placeholder: 'Add a deadline', label:false, :class => "form-field", required: true, as: :date %>
    </div>

    <%= f.submit "Submit ChoicePoint", class: "btn btn-primary" %>
  <% end %>
</div>
