<%# ChoicePoint.options.description for dropdown to pick chosen option %>
<div class="feedback-container">
  <h1>Feedback</h1>
  <br>
  <%= simple_form_for [ @choice_point ] do |f| %>
    <div class="choicepoint-description-container">
      <%= f.simple_fields_for :chosen_option do |o| %>
        <%= o.input :id, label: "Which option did you choose?",
            collection: @choice_point_options, label_method: :description,
            value_method: :id, required: true %>
      <% end %>
      <%= f.input :successful, label: "Check here if option was successful", required: true %>
      <%= f.button :submit, class: "btn-info" %>
    </div>
  <% end %>
</div>
