<div class="show-options votes-container <%= "active-votes-container" unless expired %>">
  <%= render "voting_area_content",
      choice_point: choice_point,
      highest_score: highest_score,
      expired: expired do |option| %>
        <% selected = option.votes.any? { |vote| vote.user == current_user } %>
        <p class="show-options-check-mark
                  show-options-radio-button-space
                  <%= "winning-area" if expired && choice_point.leader == option %>
                  <%= "selected-area" if selected%>">
          <%== "<i class='far fa-check-circle selected-icon'></i>" if selected %>
          <%== "&nbsp;" if expired && choice_point.leader == option && selected %>
          <%== "<i class='fas fa-award'></i>" if expired && choice_point.leader == option %>
        </p>
        <p class="show-options-row
                  show-options-row-description
                  <%# Not DRY %>
                  <%= "winning-area" if expired && choice_point.leader == option %>
                  <%= "selected-area" if selected%>">
          <%= option.description %>
        </p>
  <% end %>
</div>
