<% deadline = choice_point.deadline %>

<%# Deadline %>
<p class="choice-point-deadline choice-point-options-header">
  <% if expired %>
    Ended <time datetime='<%= deadline %>'>
      <%= pluralize((Date.today - deadline).to_i, "day") %> ago
    </time>
  <% elsif Date.today == deadline %>
    Ends <time datetime='<%= deadline %>'>today</time>
  <% else %>
    <time datetime='<%= deadline %>'>
      <%= pluralize((deadline - Date.today).to_i, "day") %> left
    </time>
  <% end %>
</p>

<%# Options %>
<table class="transparent" role="table">
  <tr>
    <th scope="col" class="visually-hidden choice-point-options-header">
      Options
    </th>
    <th scope="col" class="choice-point-score choice-point-options-header">
      Score
      (<%= pluralize((choice_point.total_votes), "vote") %>)
    </th>
  </tr>
  <% options.each do |option| %>
    <% no_votes_yet = option.score.zero? %>
    <% percentage_of_highest = (option.score / highest_score) * 100 %>
    <tr>
      <td class="choice-point-option transparent
                 <% if expired && choice_point.leader == option %>
                   choice-point-option-winner
                 <% end %>"
          aria-label="<%= option.description %>">
        <%= yield(option) %>
        <ul class="transparent">
          <% %i[pros cons].each do |pros_or_cons| %>
            <li class="grid-cell">
              <% btn = expired && choice_point.leader == option ?
                       'btn-outline-on-primary-bg' :
                       'btn-outline' %>
              <button class="<%= btn %> choice-point-pros-cons-button"
                      type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#<%= "#{pros_or_cons}-#{option.id}" %>">
                <%= pros_or_cons.capitalize %>
              </button>
            </li>
          <% end %>
        </ul>
      </td>
        <td class="choice-point-score<%= '-visual' unless no_votes_yet %>
                   fw-bolder"
          style="<%=
            "width: #{percentage_of_highest}%;" unless no_votes_yet
          %>">
        <p class="<%= 'visually-hidden' unless no_votes_yet %>">
          <%= option.score.positive? ? option.score.to_i : "No votes yet" %>
        </p>
      </td>
    </tr>
  <% end %>
</table>

<%# Modals %>
<% options.each do |option| %>
  <% modals = [
    {title: "Pros", prefix: "pros", other_prefix: "cons",
     content: option.pros, button_text: "Next"},
    {title: "Cons", prefix: "cons", other_prefix: "pros",
     content: option.cons, button_text: "Back"}
  ] %>
  <% modals.each do |modal| %>
    <% heading_id = "#{modal[:prefix]}-#{option.id}-heading" %>
    <div class="modal fade" tabindex="-1"
         id="<%= "#{modal[:prefix]}-#{option.id}" %>"
         aria-labelled-by="<%= heading_id %>" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title"
                id="<%= heading_id %>">
              <%= modal[:title] %>
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p><%= modal[:content] %></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-ghost" data-bs-target="<%=
                      "##{modal[:other_prefix]}-#{option.id}"
                    %>" data-bs-toggle="modal">
              <%= modal[:button_text] %>
            </button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
