<!-- spacer div for the grid --> <div></div>
<p class="show-options-header-row show-options-row-description"><%= pluralize((choice_point.deadline - Date.today + 1).to_i, "day") %> left</p>
<!-- spacer div for the grid --> <div></div>
<!-- spacer div for the grid --> <div></div>
<!-- spacer div for the grid --> <div></div>
<p class="show-options-header-row">score</p>
<% choice_point.options.order(:id).each do |option| %>
  <%= yield(option) %>
  <p><a class="btn btn-ghost show-options-row-pros-and-cons" href="#">Pros</a></p>
  <p><a class="btn btn-ghost show-options-row-pros-and-cons" href="#">Cons</a></p>
  <!-- spacer div for the grid --> <div></div>
  <% width = option.score.zero? ? nil : option.score / highest_score %>
  <!-- Not accessible! Should be fixed -->
  <p class="show-options-row show-options-row-score <%= "show-options-row-score-bar" if width %>"
     style="<%= width ? "width: calc(#{width * 100}% - #{24 * width}px);" : "" %>">
    <%= "No votes yet" if width.nil? %>
  </p>
<% end %>
