<!-- spacer div for the grid --> <div></div>
<p class="show-options-header-row show-options-row-description">
  <% if expired %>
    Ended <%= pluralize((Date.today - choice_point.deadline).to_i, "day") %> ago
  <% else %>
    <%= pluralize((choice_point.deadline - Date.today + 1).to_i, "day") %> left
  <% end %>
</p>
<!-- spacer div for the grid --> <div></div>
<!-- spacer div for the grid --> <div></div>
<!-- spacer div for the grid --> <div></div>
<p class="show-options-header-row">
  score
  (<%= pluralize((choice_point.total_votes), "vote") %>)
</p>
<% options = choice_point.options.order(expired ? 'score DESC' : :id) %>
<% options.each do |option| %>
  <%= yield(option) %>
  <!-- spacer div for the grid --> <div class="show-options-row-description"></div>
  <div class="pros-and-cons-container">
    <p><a class="btn-outline show-options-row-pros-and-cons" data-bs-toggle="modal" href="#prosToggle<%= option.id %>">Pros</a></p>
    <div class="modal fade" id="prosToggle<%= option.id %>" aria-hidden="true" aria-labelledby="prosToggleLabel<%= option.id %>" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="prosToggleLabel<%= option.id %>">Pros</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h1><%= option.pros %></h1>
          </div>
          <div class="modal-footer">
            <a class="btn-ghost" data-bs-target="#consToggle<%= option.id %>" data-bs-toggle="modal">Next</a>
          </div>
        </div>
      </div>
    </div>
    <p><a class="btn-outline show-options-row-pros-and-cons" data-bs-toggle="modal" href="#consToggle<%= option.id %>">Cons</a></p>
    <div class="modal fade" id="consToggle<%= option.id %>" aria-hidden="true" aria-labelledby="consToggleLabel<%= option.id %>" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="consToggleLabel<%= option.id %>">Cons</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h1><%= option.cons %></h1>
          </div>
          <div class="modal-footer">
            <a class="btn-ghost" data-bs-target="#prosToggle<%= option.id %>" data-bs-toggle="modal">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- spacer div for the grid --> <div></div>
  <% width = option.score.zero? ? nil : option.score / highest_score %>
  <!-- Not accessible! Should be fixed -->
  <p class="show-options-row show-options-row-score <%= "show-options-row-score-bar" if width %>"
     style="<%= width ? "width: calc(#{width * 100}% - #{24 * width}px);" : "" %>">
    <%= "No votes yet" if width.nil? %>
  </p>
<% end %>
