<div class="index_main_text">
    <div class="large_index_image">
      <h2 class="secondary-title">Can’t decide? Ask us.</h2>
      <p><%= link_to "Get Your Solution", new_choice_point_path, class: "btn-info btn" %></p>
      <!-- <h2 class="trending-text">TRENDING</h2> -->
    </div>
  </div>

<div class="page-container">
    <div class="choicepoint">
      <div class="card-container">
        <div class="search-bar mb-4">
          <%= form_tag choice_points_path, method: :get, class: "search-wrapper" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search ChoicePoint"%>
          <% end %>

        </div>
        <% @choice_points.each do |choicepoint| %>
          <div class="position-relative mb-4" >
            <%= render "shared/choicepoint_card", choicepoint: choicepoint %>
          </div>
        <% end %>
      </div>
      <div class="ranking-container ms-4">
      <div class="trending mb-4"><%= render "shared/last_chance_card",last_chance: @last_chance%></div>

      <%# <div class="memo"><p>memo placeholder</p></div> %>
      </div>
    </div>
</div>
