<!-- Banner text -->
<section class="large_index_image">
  <h2 class="secondary-title">Can’t decide? Ask us.</h2>
  <p><%= link_to "Get Your Solution", new_choice_point_path,
                 class: "btn-main fs-5 text-spaced" %></p>
</section>

<!-- Content -->
<div class="page-container choice-points-index-container choicepoint">
  <section class="card-container" data-controller="search">
    <h2 class="visually-hidden">Latest ChoicePoints</h2>

    <!-- Search bar -->
    <%= form_tag choice_points_path,
                 method: :get,
                 class: %w[search-wrapper search-bar mb-4 container-left],
                 data: { search_target: 'form' } do %>
      <%= text_field_tag :query, params[:query], {
        class: "form-control inner-search-bar",
        placeholder: "Search ChoicePoint",
        value: params[:query],
        data: { search_target: 'input', action: 'keyup->search#update' }
      } %>
      <%= button_tag icon('fas', 'search'), class: 'search-button' %>
    <% end %>

    <!-- Choice point cards -->
    <div data-search-target="list">
      <%= render partial: 'card',
                 collection: choice_points.map(&:card) %>
    </div>
  </section>

  <div class="ranking-container">
    <!-- Last chance to vote -->
    <section class="trending mb-4 container-right general-card">
      <%= render "last_chance", choice_points: @last_chance_choice_points %>
    </section>

    <!-- About ChoicePoint -->
    <aside class="trending mb-4 container-right card-what-is" id="what-is-backdrop">
      <%= render "about_choice_point" %>
    </aside>

    <!-- Links -->
    <nav>
      <ul class="index-bottom-links">
        <li>
          <%= link_to "My ChoicePoints", my_choice_points_path, {
            class: "btn-outline"
          } %>
        </li>
        <li>
          <%= link_to "New ChoicePoint", new_choice_point_path, {
            class: "btn-outline"
          } %>
        </li>
      </ul>
    </nav>
  </div>
</div>
