<%# TODO: View should look different after deadline has passed %>
<div class="show-view">
  <div class="show-container">
    <div class="show-header">
      <h1>
        <div class="asker"><%= @choice_point.user.name %> asks…</div>
        <div class="question"><%= @choice_point.title %></div>
      </h1>
      <p><a class="btn btn-ghost" id="more" href="#">More</a></p>
    </div>
    <%= form_with(model: @choice_point,
                  url: vote_choice_point_path(@choice_point),
                  html: { data: { controller: 'choice-point-voting-form' } }) do |form| %>
      <div class="show-options">
        <p class="show-options-header-row"><%= pluralize((@choice_point.deadline - Date.today + 1).to_i, "day") %> left</p>
        <p class="show-options-header-row">score</p>
        <% @choice_point.options.order(:id).each do |option| %>
          <div class="show-options-row">
            <div class="show-options-row-input-and-label">
              <%= form.radio_button(
                :option,
                (option.id).to_s,
                data: { action: "click->choice-point-voting-form#enableVoteButton" }
              ) %>
              <%= form.label "option_#{(option.id).to_s}".to_sym, option.description %>
            </div>
            <div class="show-options-row-pros-and-cons">
              <p><a class="btn btn-ghost" data-bs-toggle="modal" href="#exampleModalToggle">Pros</a></p>
              <p><a class="btn btn-ghost" href="#exampleModalToggle2" data-bs-toggle="modal">Cons</a></p>
            </div>
          </div>
          <p class="show-options-row show-options-row-score"><%= option.score.round(2) %></p>
          <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">Pros</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h1><%= option.pros %></h1>
        </div>
        <div class="modal-footer">
          <a class="btn btn-ghost" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Next</a>
        </div>
      </div>
  </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2">Cons</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1><%= option.cons %></h1>
      </div>
      <div class="modal-footer">
        <a class="btn btn-ghost" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back</a>
      </div>
    </div>
  </div>
</div>
        <% end %>
      </div>
      <%= form.submit(
        "Vote",
        class: "btn btn-main",
        disabled: true,
        data: { choice_point_voting_form_target: "voteButton" }
      ) %>
    <% end %>
  </div>
</div>


<!--
    <form action=<%= vote_choice_point_path(@choice_point) %> method="post">
      <div class="show-options">
        <p class="show-options-header-row"><%= pluralize((@choice_point.deadline - Date.today + 1).to_i, "day") %> left</p>
        <p class="show-options-header-row">score</p>
        <% @choice_point.options.each_with_index do |option, index| %>
          <div class="show-options-row">
            <div class="show-options-row-input-and-label">
              <input type="radio" id="option-<%= index + 1 %>" name="option" value="<%= option.id %>">
              <label for="option-<%= index + 1 %>"><%= option.description %></label>
            </div>
            <div class="show-options-row-pros-and-cons">
              <p><a class="btn btn-ghost" href="#">Pros</a></p>
              <p><a class="btn btn-ghost" href="#">Cons</a></p>
            </div>
          </div>
          <p class="show-options-row show-options-row-score"><%= option.score.round(2) %></p>
        <% end %>
      </div>
      <input type="submit" value="Vote" class="btn btn-main">
    </form>
-->
