<article class="mb-4 card-product general-card container-left
                card-product-infos">
  <%= link_to('', card.link, class: 'card-link') %>

  <header>
    <p><%= card.pre_heading %></p>
    <h3><%= card.heading %></h3>
  </header>

  <p class="card-content"><%= card.content %></p>
  <p class="card-image"><%= card.image %></p>

  <footer class="card-product-save">
    <ul><% card.buttons.each do |button| %>
      <li><%= button %></li>
    <% end %></ul>
  </footer>

</article>
